/* Don't change the existing CSS. */

.box {
	background-color: blue;
	padding: 10px;
}

p {
	color: yellow;
	margin: 0;
	padding: 0;
}

/* Specificity: Id selector overrides class selector .box */
#outer-box {
	background-color: purple;
}

/* Position: Class declared later overrides class declared above .box */
.inner-box {
	background-color: red;
}

/* Specificity: Class selector overrides element selector */
.white-text {
	color: white;
}
