/* Don't change the existing CSS. */

.box {
	background-color: blue;
	padding: 10px;
}

p {
	color: yellow;
	margin: 0;
	padding: 0;
}

/* Specificity: Override .box class selector */
#outer-box {
	background-color: purple;
}

/* Position: Override .box */
.inner-box {
	background-color: red;
}

/* No conflict, just apply */
.white-text {
	color: white;
}
